<div class="container">
    <div class="row">
        <%= render 'layouts/blogpost' %>
        <div class="col-xs-12 col-sm-6 visible-xs">
        <hr>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <%= render 'layouts/twitter' %>
            <hr>
            <h2>Project Updates</h2>
            <%= render 'layouts/bitbucket' %>
        </div>
    </div>
</div>