<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="user_info">
      <div class="row">
        <div class="col-xs-3 col-sm-4">
          <%= gravatar_for @user %>
        </div>
        <div class="col-xs-9 col-sm-8">
          <div class="row">
            <%= @user.name %>
          </div>
          <div class="row">
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>