<div class="row">
  <div class="table-responsive col-xs-12 col-sm-12" style="padding-left: 0px; padding-right: 0px; border-top: none;">
    <table class='table table-striped table-bordered table-condensed'>
    <% @recent.entries[0..5].each do |entry| %>
      <% 
      #split the bitbucket url up so we can extract the username
      link_array = entry.url.split('/')
      username = link_array[3]
      
      #create links to the user whose commit is currently being iterated over, as well as their avatar and alt text for their avatar
      link_to_avatar = "https://bitbucket.org/account/" + username + "/avatar/48/?ts=0"
      alt_text = username + "'s avatar"
      link_to_account = "https://bitbucket.org/" + username
      
      %>
      <tr>
        <td>
          <%= 
          #generate the bitbucket avatar image and a link ot the user's bitbucket account
          link_to image_tag(link_to_avatar, size:'25x25', alt: alt_text),  link_to_account 
          %>
        </td>
        <td>
          <%= 
          #list the latest commit link via its id
          link_to entry.url.last(12).to_s, entry.url 
          %>
        </td>
        <td>
          <%= 
          #give the title of the commit as a brief description
          entry.title 
          %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>