<div class="col-xs-12 col-sm-6">
    <h2>Blognitive Dynamics - Designing the Site</h2>
    <div class="row">
        <div class="col-xs-12">
            <%= image_tag("WebLayout.jpg", alt: "Site Layout Draft", class:"img-responsive") %>
        </div>
        <div class="col-xs-12">
            <h3>7/30/2015</h3>
            Kyle and I met a few weeks ago to plan the site, and this is a picture of our collaboration. We hope to have a finished site before the end of August, and after that we'll have tons of content to throw up here.
        </div>
    </div>
</div>