<header>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-me" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        Menu
      </button>
    </div>
    <nav>
      <div class="collapse navbar-collapse col-xs-12 navbar-fixed-bottom" id="collapse-me">
        <ul class="nav nav-justified">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "HOME",  root_path  %></li>
          <li class="<%= 'active' if current_page?(blog_path) %>"><%= link_to "BLOG",  blog_path  %></li>
          <li class="<%= 'active' if current_page?(social_path) %>"><%= link_to "SOCIAL",   social_path %></li>
          <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "PROJECTS",   projects_path %></li>
          <li class="<%= 'active' if current_page?(team_path) %>"><%= link_to "TEAM", team_path %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
