<div class="row">
    <div class="col-xs-12 col-sm-12">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/RememberTuvix/lists/cognitive-dynamics" data-widget-id="631868736463589378">Tweets from https://twitter.com/RememberTuvix/lists/cognitive-dynamics</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
