<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= link_to image_tag("Logo.png", alt: "Welcome to the Cognitive Dynamics Web Site", class:"img-responsive"),  root_path %></h1>
          <%= render 'layouts/header' %>
        </div>
      </div>
    </div>
    <div class="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
